html {
  scrollbar-gutter: stable;
}

body {
  background-color: var(--background_color);
}

body:has(.loadingScreenDialog[open]),
body:has(.pokemon_details_dialog[open]) {
  overflow: hidden;
}

header {
  height: 112px;
  background-color: var(--secondary_color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_positioning_div {
  max-width: 1920px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
}

footer {
  width: 100%;
  height: 128px;
  background-color: var(--secondary_color);
  clip-path: url(#footer_clip);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 120px;
}

footer img {
  width: 133.28px;
  height: 32px;
}

.footer_text {
  font-family: "Poppins";
  font-weight: bold;
  color: #fd5b4f;
  font-size: 16px;
}