.header_icon{
    height: 64px;
}

.search_bar{
    height: 40px;
    width: 312px;
    margin-left: auto;
    margin-right: 16px;
    border: 3px solid var(--light_grey_color);
    border-radius: 5px;
    font-family: "Poppins";
}

.search_bar:focus{
    border: 3px solid black;
    outline: none;
}

.search_button{
    width: 44px;
    height: 40px;
    border: none;
    background-color: var(--action_color);
    border-radius: 6px;
}

.search_button:hover{
    background-color: #DA471B;
}

.search_button_icon{
    height: 20px;
    width: 20px;
    color: var(--action_color);
}

.small_pokemon_card{
    width: 200px;
    height: 284px;
}

.small_card_image{
    width: 64px;
    height: 64px;
}